body {
	margin-left: 20px;
}

table {
	border-collapse: collapse;
}

table, th, td {
	border: 1px solid black;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

ul {
	list-style: none;
	/*
	margin: 0;
	padding: 0;
	*/
}

ul li::before {
	content: '\262D';
	margin-left: -22px;
	margin-right: 10px;
} 