body {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

h1 {
    border-bottom: 1px solid silver;
    margin-top: 1rem;
    margin-bottom: .5rem; 
    padding-bottom: .25rem;
}

.nav-link {
    --bs-nav-link-color: lightgray;
    --bs-nav-link-hover-color: dimgray;
}

:root {
    --btn-color: #f8f8f8;
    --btn-bg-secondary: #74787c;
    --btn-bg-hover-secondary: #64686c;
    --btn-bg-dark: #212529;
    --btn-bg-hover-dark: #373b3f;
}


.btn-secondary {
    --bs-btn-color: var(--btn-color);
    --bs-btn-bg: var(--btn-bg-secondary);
    --bs-btn-border-color: var(--btn-bg-secondary);
    --bs-btn-hover-bg: var(--btn-bg-hover-secondary);
    --bs-btn-hover-border-color: var(--btn-bg-hover-secondary);
    margin-inline-end: .5rem;
}

.btn-dark {
    --bs-btn-color: var(--btn-color);
    --bs-btn-bg: var(--btn-bg-dark);
    --bs-btn-border-color: var(--btn-bg-dark);
    --bs-btn-hover-bg: var(--btn-bg-hover-dark);
    --bs-btn-hover-border-color: var(--btn-bg-hover-dark);
    margin-inline-end: 1rem;
}

img.favicon {
    display: inline-block;
    height: 1.25em;
    width: auto;
    transform: translate(0, -.1em);
}